<app-header titulo="Edicion de negocio" icon=""></app-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating" style="text-decoration-color: white"
        >Nombre</ion-label
      >
      <ion-input type="text" required [(ngModel)]="negocio.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="text-decoration-color: white"
        >Tipo</ion-label
      >
      <ion-input type="text" required [(ngModel)]="negocio.tipo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="text-decoration-color: white"
        >Teléfono</ion-label
      >
      <ion-input
        type="text"
        required
        mask="(000)-000-0000"
        maxlength="14"
        [(ngModel)]="negocio.telefono"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="text-decoration-color: white"
        >Dirección</ion-label
      >
      <ion-input
        type="text"
        required
        [(ngModel)]="negocio.direccion"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="text-decoration-color: white"
        >Latitud</ion-label
      >
      <ion-input
        type="number"
        required
        [(ngModel)]="negocio.latitud"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="text-decoration-color: white"
        >Longitud</ion-label
      >
      <ion-input
        type="number"
        required
        [(ngModel)]="negocio.longitud"
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" shape="round" (click)="camara()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Cámara
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" shape="round" (click)="galeria()">
          <ion-icon slot="start" name="images"></ion-icon>
          Galería
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img [src]="base64Image" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-button color="success" expand="block" (click)="update()"
    >Guardar</ion-button
  >
</ion-content>
