<app-header titulo="Listado de Negocios" icon=""></app-header>

<ion-content [fullscreen]="true">
  <ion-list line="none">
    <ion-item-sliding *ngFor="let item of NegocioReg">
      <ion-item class="no-padding">
        <ion-label>
          <h2>{{negocio.nombre_}}</h2>
          <p>{{negocio.tipo_}}</p>
          <p>{{negocio.telefono_}}</p>
          <p>{{negocio.direccion_}}</p>
          <p>{{negocio.foto_}}</p>
          <p>{{negocio.latitud_}}</p>
          <p>{{negocio.longitud_}}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>
