<app-header titulo="Listado de Negocios" icon=""></app-header>

<ion-content [fullscreen]="true">
  <ion-list line="none">
   <!--<ion-item-sliding *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">-->
    <ion-item-sliding *ngFor="let negocio of arrayColeccionNegocio">
      <ion-grid>
        <ion-row>
          <h5>{{negocio.data.nombre_}}</h5>
          <ion-buttons>
            
            <ion-button>
          <ion-icon color="dark" name="pencil-outline"(click)="clicBotonModificar()"></ion-icon>
            </ion-button>

            <ion-button>
              <ion-icon color="danger" name="trash" (click)="deleteNegocio()"></ion-icon>
                </ion-button>
        </ion-buttons>
        </ion-row>
      </ion-grid>
    </ion-item-sliding>
  </ion-list>
</ion-content>
